<a href="https://colab.research.google.com/github/rohitgavimath026/Python-Basic-Codes/blob/main/Python_Basic_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Area of Circle**

In [12]:
from math import *
r = float(input("Enter number : "))
res = pi*(r**2)
print(res)

Enter number : 5
78.53981633974483

# **Arm Strong Number**

In [18]:
"""EX:- 153=(1^3)+(5^3)+(3^3)
        1634=(1^4)+(6^4)+(3^4)+(4^4)"""

num = int(input("Enter number : "))
order = len(str(num))
sum = 0
temp = num
while temp>0:
  digit = temp%10
  sum += digit**order
  temp //= 10
if num == sum:
  print(num,"is Armstrong")
else:
  print(num,"is not an Armstrong")

Enter number : 153
153 is Armstrong

# **ASCII Value**

In [32]:
char = input("Enter the character : ")
print("ASCCI Value of '"+str(char)+ "' is",ord(char))

Enter the character : A
ASCCI Value of 'A' is 65

# **Binary Addition**

In [51]:
num1 = int(input("Enter the 1st number : "))
num2 = int(input("Enter the 2nd number : "))
sum = num1+num2
print(bin(sum))

Enter the 1st number : 2
Enter the 2nd number : 2
0b100

# **Compound Interest**

In [54]:
P = float(input("Enter the Principal Amount : "))
T = float(input("Enter the Time period : "))
R = float(input("Enter the Rate : "))

amount = P*(pow((1+R/100),T))

print("Compound Interest :",amount)

Enter the Principal Amount : 10000
Enter the Time period : 5
Enter the Rate : 10
Compound Interest : 16105.100000000006

# **Simple Interest**

In [55]:
P = float(input("Enter the Principal Amount : "))
T = float(input("Enter the Time period : "))
R = float(input("Enter the Rate : "))

SI = (P*T*R)/100

print("Simple Interest :",SI)

Enter the Principal Amount : 10000
Enter the Time period : 5
Enter the Rate : 10
Simple Interest : 5000.0

# **Factorial of a Number**

In [59]:
#METHOD 1:-

from math import *
num = int(input("Enter the number : "))
print("Factorial :",factorial(num))

Enter the number : 5
Factorial : 120

In [61]:
#METHOD 2:-

num = int(input())
fact = 1
if num < 0:
  print("0")
else:
  while(num>1):
    fact *= num
    num -= 1
print("Factorial :",fact)

5
Factorial : 120