<a href="https://colab.research.google.com/github/rohitgavimath026/Python-Basic-Codes/blob/main/Python_Basic_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Area of Circle**

In [ ]:
from math import *
r = float(input("Enter number : "))
res = pi*(r**2)
print(res)

Enter number : 5
78.53981633974483

# **2. Arm Strong Number**

In [ ]:
"""EX:- 153=(1^3)+(5^3)+(3^3)
        1634=(1^4)+(6^4)+(3^4)+(4^4)"""

num = int(input("Enter number : "))
order = len(str(num))
sum = 0
temp = num
while temp>0:
  digit = temp%10
  sum += digit**order
  temp //= 10
if num == sum:
  print(num,"is Armstrong")
else:
  print(num,"is not an Armstrong")

Enter number : 153
153 is Armstrong

# **3. ASCII Value**

In [ ]:
char = input("Enter the character : ")
print("ASCCI Value of '"+str(char)+ "' is",ord(char))

Enter the character : A
ASCCI Value of 'A' is 65

# **4. Binary Addition**

In [24]:
num1 = int(input("Enter the 1st number : "))
num2 = int(input("Enter the 2nd number : "))
sum = num1+num2
print(bin(sum))

Enter the 1st number : 2
Enter the 2nd number : 2
0b100

# **5. Compound Interest**

In [ ]:
P = float(input("Enter the Principal Amount : "))
T = float(input("Enter the Time period : "))
R = float(input("Enter the Rate : "))

amount = P*(pow((1+R/100),T))

print("Compound Interest :",amount)

Enter the Principal Amount : 10000
Enter the Time period : 5
Enter the Rate : 10
Compound Interest : 16105.100000000006

# **6. Simple Interest**

In [ ]:
P = float(input("Enter the Principal Amount : "))
T = float(input("Enter the Time period : "))
R = float(input("Enter the Rate : "))

SI = (P*T*R)/100

print("Simple Interest :",SI)

Enter the Principal Amount : 10000
Enter the Time period : 5
Enter the Rate : 10
Simple Interest : 5000.0

# **7. Factorial of a Number**

In [ ]:
#METHOD 1:-

from math import *
num = int(input("Enter the number : "))
print("Factorial :",factorial(num))

Enter the number : 5
Factorial : 120

In [ ]:
#METHOD 2:-

num = int(input())
fact = 1
if num < 0:
  print("0")
else:
  while(num>1):
    fact *= num
    num -= 1
print("Factorial :",fact)

5
Factorial : 120

# **8. Fibonacci Series**

In [6]:
n_terms = int(input("Enter the no. of terms : "))
n1,n2 = 0,1
count = 0
if n_terms<=0:
  print("Enter valid number.")
elif n_terms == 1:
  print("Fibonacci Series :")
  print(n1)
else:
  print("Fibonacci Series :")
  while count < n_terms:
    print(n1,end=" ")
    nth = n1+n2
    n1 = n2
    n2 = nth
    count += 1

Enter the no. of terms : 10
Fibonacci Series :
0 1 1 2 3 5 8 13 21 34

# **9. Gross Pay**

In [13]:
hour = float(input("Enter the no. of hours : "))
rate = float(input("Enter the rate : "))
if hour <= 40:
  print("PAY :",hour*rate)
else:
  print("PAY :",40*rate+(hour-40)*1.5*rate)

Enter the no. of hours : 50
Enter the rate : 10
PAY : 550.0

# **10. Hexadecimal Addition**

In [19]:
a = input("Enter the 1st no. : ")
b = input("Enter the 2nd no. : ")
sum = hex(int(a,16)+int(b,16))
print(sum[2:])

Enter the 1st no. : 0a3
Enter the 2nd no. : 1f5
298

# **11. Matrix Addition**

In [31]:
X = [[1,2,3],
     [4,5,6],
     [7,8,9]]
Y = [[9,8,7],
     [6,5,4],
     [3,2,1]]
result = [[0,0,0],
       [0,0,0],
       [0,0,0]]
for i in range(len(X)):
  for j in range(len(Y)):
    result[i][j] = X[i][j] + Y[i][j]
for r in result:
  print(r)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

# **12. MAX & MIN of two numbers**

In [32]:
a = int(input("Enter the 1st n0. : ")) 
b = int(input("Enter the 2nd n0. : "))
maxi = max(a,b)
mini = min(a,b)
print("MAX :",maxi)
print("MIN :",mini)

Enter the 1st n0. : 5
Enter the 2nd n0. : 10
MAX : 10
MIN : 5

# **13. Number of digits and letters in a String**

In [39]:
from math import *
strg = input("Enter the string : ")
total_digits = 0
total_letters = 0
for s in strg:
  if s.isnumeric():
    total_digits += 1
  else:
    total_letters += 1
print("Total Digits :",total_digits)
print("Total Letters :",total_letters)

Enter the string : hell0 wo3rld 56
Total Digits : 4
Total Letters : 11

## **14. Octal Addition**

In [41]:
a = input("Enter the 1st no. : ")
b = input("Enter the 2nd no. : ")
sum = oct(int(a,8)+int(b,8))
print(sum[2:])

Enter the 1st no. : 65
Enter the 2nd no. : 54
141

# **15. Prime Numbers**

In [51]:
num = int(input("Enter the no. : "))
if num > 1:
  for i in range(2,num):
    if (num%i) != 0:
      print(num,"is a prime number.")
      break
    else:
      print(num,"is not a prime number.")
      break

Enter the no. : 2

# **16. To print Prime numbers between n1 to n2**

In [54]:
n1 = int(input("Enter the lower range : "))
n2 = int(input("Enter the highest range : "))
for num in range(n1,n2):
  if num > 1:
    for i in range(2,num):
      if (num%i) == 0:
        break
    else:
      print(num,end=" ")

Enter the lower range : 10
Enter the highest range : 20
11 13 17 19

# **17. Sum of Cubes**

In [56]:
n = int(input("Enter the no. of terms : "))
sum = 0
for i in range(1,n+1):
  sum += (i**3)
print(sum)

Enter the no. of terms : 5
225

# **18. Sum of Squares**

In [58]:
n = int(input("Enter the no. of terms : "))
sum = 0
for i in range(1,n+1):
  sum += (i**2)
print(sum)

Enter the no. of terms : 5
55

# **19. Whether the number is Fibonacci or not**

In [62]:
n = int(input("Enter the no. : "))
count = 0
n1,n2 = 1,1
if n==0 and n==1:
  print("YES")
else:
  while count<n:
    count = n1+n2
    n1 = n2
    n2 = count
  if count == n:
    print("YES")
  else:
    print("NO")

Enter the no. : 8
YES